{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "no-loops"],
  "env": {
    "es6": true,
    "node": true,
    "es2017": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-loops/no-loops": "error",
    "no-await-in-loop": "warn",
    "no-compare-neg-zero": "warn",
    "no-cond-assign": "error",
    "no-dupe-args": "error",
    "no-dupe-else-if": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "warn",
    "no-empty": "warn",
    "no-unreachable": "error",
    "use-isnan": "error",
    "complexity": ["error", 4],
    "default-case": "error",
    "default-case-last": "error",
    "no-alert": "error",
    "no-redeclare": "error",
    "no-return-assign": "error",
    "no-return-await": "error",
    "no-unmodified-loop-condition": "error",
    "camelcase": "warn",
    "max-nested-callbacks": ["error", 3],
    "no-unneeded-ternary": "warn",
    "prefer-exponentiation-operator": "warn",
    "arrow-parens": ["warn", "as-needed"],
    "arrow-spacing": "error",
    "no-const-assign": "warn",
    "no-var": "error",
    "prefer-arrow-callback": "error",
    "prefer-const": "error",
    "indent": ["error", "tab"],
    "prefer-destructuring": "error",
    "@typescript-eslint/no-for-in-array": "error",
    "@typescript-eslint/no-misused-promises": "error",
    "@typescript-eslint/no-non-null-asserted-optional-chain": "warn",
    "@typescript-eslint/no-unnecessary-condition": "error",
    "@typescript-eslint/no-unnecessary-type-assertion": "warn",
    "@typescript-eslint/brace-style": "warn",
    "@typescript-eslint/no-empty-function": "error",
    "@typescript-eslint/no-extra-parens": "error",
    "@typescript-eslint/no-extra-semi": "error",
    "@typescript-eslint/no-unused-expressions": "error",
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-use-before-define": "error",
    "@typescript-eslint/quotes": ["error", "single"],
    "@typescript-eslint/require-await": "error"
  }
}
